.bg-dark{
    background-color: rgb(56, 56, 56);
}

.white-text{
    color: white;
}

.custom-button button, .custom-button div{
    border-color: white;
    color: white;
}

.custom-image{
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 20px;
}

.shopping-cart{
    position: fixed;
    top: 0;
    right: 10px;
}